<div
  id="tag-{{ question.id }}-{{ tag.id }}"
  class="inline-flex items-center font-semibold bg-slate-200 px-3 py-2 text-gray-600 rounded-lg mr-2 mb-2"
>
  <div class="flex flex-col items-center mr-3">
    <button
      class="text-sm cursor-pointer{% if tag.voted.value == 1 %} text-blue-600 hover:text-blue-700{% else %} text-slate-600 hover:text-slate-700{% endif %}"
      hx-post="{{ url_for('vote_question_tag_up', question_id=question.id, tag_id=tag.id) }}"
      hx-target="#tag-{{ question.id }}-{{ tag.id }}"
      hx-swap="outerHTML"
      title="Vote Up"
    >
      ▲
    </button>
    <span class="text-xs font-medium">{{ tag.vote_sum or 0 }}</span>
    <button
      class="text-sm cursor-pointer{% if tag.voted.value == -1 %} text-blue-600 hover:text-blue-700{% else %} text-slate-600 hover:text-slate-700{% endif %}"
      hx-post="{{ url_for('vote_question_tag_down', question_id=question.id, tag_id=tag.id) }}"
      hx-target="#tag-{{ question.id }}-{{ tag.id }}"
      hx-swap="outerHTML"
      title="Vote Down"
    >
      ▼
    </button>
  </div>
  <span class="">{{ tag.name }}</span>
</div>
