<div
  id="question-{{ question.id }}"
  class="border-t border-neutral-50 p-6 mb-6 rounded-4xl shadow-xl shadow-slate-500/10 bg-slate-50/20"
>
  <div class="flex items-center">
    <div class="inline-flex items-center flex-col mr-4">
      <button
        class="px-3 py-1 text-white text-sm rounded focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer{% if question.voted.value == 1 %} bg-blue-600 hover:bg-blue-700{% else %} bg-slate-600 hover:bg-slate-700{% endif %}"
        hx-post="{{ url_for('vote_question_up', item_id=question.id) }}"
        hx-target="#question-{{ question.id }}"
        hx-swap="outerHTML"
        title="Vote Up"
      >
        ▲
      </button>
      <span class="py-2 font-semibold">{{ question.vote_sum }}</span>
      <button
        class="px-3 py-1 text-white text-sm rounded focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer{% if question.voted.value == -1 %} bg-blue-600 hover:bg-blue-700{% else %} bg-slate-600 hover:bg-slate-700{% endif %}"
        hx-post="{{ url_for('vote_question_down', item_id=question.id) }}"
        hx-target="#question-{{ question.id }}"
        hx-swap="outerHTML"
        title="Vote Down"
      >
        ▼
      </button>
    </div>
    <a
      href="{{ url_for('question', item_id=question.id) }}"
      class="text-2xl font-semibold text-blue-600 hover:text-blue-800 no-underline"
      >{{ question.text }}</a
    >
  </div>
  <div id="tag-list-{{ question.id }}" class="mt-2 empty:hidden">
    {%- for tag in question.tags %} {% include "tags/item.html" %} {% endfor -%}
  </div>
  <div class="text-sm text-gray-600 mt-2">
    {% if question.user %} Added by
    <span class="font-medium">{{ question.user.username }}</span> {% else %}
    Added by <span class="font-medium">Unknown user</span>
    {% endif %}
  </div>
</div>
